@use '_shared' as s with (
  $side-margin-width:0.4in,
  $left-col-width:5.15in,
  $left-col-right-margin:0.75in
);

.trad {
  .hide-trad {
    display: none;
  }

  h1 {
    padding-top:18pt;
  }

  div.col-container {
    > div.header2 {
      text-align:right;
      width: s.$left-total-width - s.$header1-width - 0.75in;
    }
    > div.header3 {
      text-align:right;
    }

    > div.left ul > li {
      // padding-right:0.5in;
    }

    div.right ul > li {
      display: inline;
      padding: 0;

      &::after {
        content: ', ';
      }
      &:last-child::after {
        content: ''
      }
    }
  }

  div.job_heading {
    margin-top:s.$h2-padding;
    position: relative;

    > h2 {
      padding-top:0;
      width:4.9in;
    }
    > h3 {
      @include s.rightcol;
      text-align:right;
    }
  }
}

.twocol {
  .hide-twocol {
    display: none;
  }

  div.col-container {
    > div.left {
      width:s.$left-col-width;
    }
    div.right {
      @include s.rightcol;

      ul {
        margin-bottom:6pt;
      }

      ul > li {
        padding-left:0.5in;
        text-indent:-0.5in;
      }
    }
  }
  p.outdent {
      padding-right:0.3in
  }
}

.TransitionPage-appear,
.TransitionPage-enter {
  opacity: 0;
}
.TransitionPage-appear-active,
.TransitionPage-enter-active {
  opacity: 1;
  transition: opacity 0.4s ease-in;
}
.TransitionPage-exit {
  opacity: 1;
}
.TransitionPage-exit-active {
  opacity: 0;
  transition: opacity 0.4s ease-in;
}